:root {
  --mdc-theme-primary: crimson;
  --mdc-theme-secondary: #37474f;
}
body {
  margin: 0;
}
main {
  margin-left: 8px;
}
.main-room-view, .add-device-view {
  display: none;
}
.view {
  display: none;
}
.add-room-fab, .add-device-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.add-device-view {
  margin: auto;
  width: 50%;
}
.add-device-avg-hours-text-field {
  width: 15em;
}
.add-device-form {
  margin: auto;
  width: 50%;
}
@media(min-width: 1024px) {
  .add-room-fab {
    bottom: 1.5rem;
    right: 1.5rem;
  }
  .add-device-form {
    margin: auto;
    width: 100%;
  }
}
.room-card, .device-card {
  /*   height: 550px; */
  margin: 48px 0;
  width: 350px;
}
.room-card-template-cell, .device-card-template-cell {
  display: none;
}
.room-card__primary, .device-card__primary {
  padding: 1rem;
}
.room-card__secondary, .device-card__secondary {
  padding: 0 1rem 8px;
}
.room-card__title, .device-card__title {
  margin: 0;
}
.room-card__secondary, .room-card__subtitle, .device-card__secondary, .device-card__subtitle {
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, .54));
  margin: 0;
}